:root {
    
    /*Pricipais cores*/
    --div-bg-color-one:#034f81;
    --div-bg-color-two:#ffcc33;

    --div-bg-color-alert:#dd0016;
    --div-bg-color-faixas:#ecf6ff;

    --font-color-title: #000;
    --font-color-text : #fff;
    
    /*Fontes do site*/
    --font-title: 'Quicksand', sans-serif;
    --font-text: 'Roboto', sans-serif;
    --font-menu: 'Titillium Web', sans-serif;
}

body > div, body header, body > footer{
    display: flex;
    flex-flow: column;
}
body > div{
    padding: 10px;
}

h1{
    font-size: 38px;
}

h2{
    font-size: 34px;
}

h1, h2{
    font-family: var(--font-title);  
    color: var(--font-color-title);
    text-align: center;
    font-weight: bold;    
    padding-bottom: 5px;
}

h3, h4, h5, h6{
    font-family: --font-text;
}

a, p, li, td, span {
    font-size: 14.5px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;   
}

.up-align-center{
    max-width: 1200px;
    display: flex;       
    margin: 0 auto;
    align-items: center;
}
.fas, .fab{
    margin-right: 5px;
}

.up-buttons{
    font-family: var(--font-color-text);
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 25px;
    color: var(--font-color-title);
}

.up-buttons-color-one{
    background-color: var(--div-bg-color-one);
}

.up-buttons-color-two{
    background-color: var(--div-bg-color-two);
}

.up-buttons-color-one{
    background-color: var(--div-bg-color-one);
}


.up-list-horizontal{
    display: flex;
}

.up-list-horizontal li{
    margin: 0 10px;
}

.up-info .up-links-contato {
    height: 55px;
    font-size: 20px;
    
}
.up-info .up-links-contato li a{
    font-size: 18px;
    color: var(--font-color-title);
    font-weight: 500;
}

.up-info .up-links-contato .fa-phone{
    color: var(--div-bg-color-one);

}

.up-info .up-links-contato .fa-whatsapp{
    color: #6b9c15;
}

.up-info .up-links-contato .up-buttons{
    font-size: 18px;
    font-weight: 500;
    padding: 5px 10px;
}

.up-info > .up-align-center{
    justify-content: right;
    flex-flow: row-reverse;
}

.up-info .up-links-contato li{
    display: flex;
    align-items: center;
}

.up-menu-logo{
    background-color: var(--div-bg-color-one);
    color: var(--font-color-text);
    height: 75px;
    background-color: var(--div-bg-color-one);
    color: var(--font-color-text);
    height: 75px;
    box-shadow: 0px 2px 4px #0000005e;
    z-index: 10;
}

}
.up-menu-logo li{
    color: var(--font-color-text);
    margin: 0 10px;
}

.up-menu-logo li:nth-last-child(){
    margin-right: 0px !important;
}


.up-menu-logo li a{
    color: var(--font-color-text);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: var(--font-menu);
    font-weight: 500;
}

.up-menu-logo .up-menu{
    height: 75px;
}

.up-menu-logo .up-align-center{
    justify-content: space-between;
    align-items: center;
}

.up-menu-logo .up-logo img{
    margin-top: -25px;
}

.up-faixa{
    height: 250px;
    display:flex;
    align-items: center;
    justify-content: center;
} 

.up-faixa-color-one{
    background-color : var(--div-bg-color-one);
}

.up-faixa-color-two{
    background-color : var(--div-bg-color-two);
}

.up-banner-background{
    background-image: linear-gradient(to bottom, #26527f, #2a5c8e, #2e669d, #3170ad, #357abd);
    height: 450px;
}


.up-banner.up-align-center > div {
    width: 50%;
}

footer{
    height: 310px;
    background-color: var(--div-bg-color-one);
}

.up-banner .up-info-and-form{
    font-family: var(--font-menu);
    color: #fff;
}


.up-banner .up-info-and-form h3{
    font-size: 36px;
    font-family: var(--font-menu);
    text-align: left;
}

.up-banner .up-info-and-form h2{
    font-size: 45px;
    font-family: var(--font-menu);
    color: #8dcbff;
    font-weight: 600;
    text-align: left;
}

.up-info-and-form form{
    margin-top: 40px;
}

.up-info-and-form form p{
    font-size: 12px;
    margin-top: 5px;
}

.up-baner-boneco {
    text-align: center;
}

.up-baner-boneco img {
    position: relative;
    top: 60px;
}

.up-info-and-form button{
    font-size : 16px;
    cursor: pointer;
}



.up-banner form input[type="email"]{
    height: 50px;
    border-radius: 10px;
    padding: 0;
    width: 95%;
    border: 0;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px;
}

.up-banner form {
    position: relative;
}

.up-banner form button{
    height: 50px;
    width: 100px;
    border: none;
    background-color: #ffcc00;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    right: 30px;
}

.up-servicos-list {
    display: flex;
    margin-top: 30px;
    width: 100%;
    font-family:var(--font-menu); 
}
.up-servicos.up-align-center {
    padding: 100px 0;
}
 .up-head-section h1 {
    top: -25px;
    position: relative;
    background-color: #fff;
    display: inline;
    padding: 10px;
    font-size: 45px;
    font-family: var(--font-menu);
    padding-bottom: 0px;
}
.up-head-section {
    border-top: 1px solid #989898;
    text-align: center;
}
p.up-text-info-section{
    font-size: 20px;
    font-family: var(--font-menu);
    text-align: center;
}
.up-servicos-list li {
    width: 25%;
    display: flex;
    justify-content: center;
    border-right: 3px solid #dadada;
    box-sizing: border-box;
    padding: 20px;
}
.up-servicos-list li:last-child {
    border-right: none;
}
.up-servicos-list li a{
    text-align: center;
    height: 155px;
    width: 100%;
    position: relative;
}
.up-servicos-list li a h4{
    font-size: 22px;
    font-family: var(--font-menu);
    color: #2b2c4a;
    position: absolute;
    width: 100%;
    bottom: 0;
    font-weight: bold;
}
.up-faixa p{
    font-size: 40px;
    font-family: var(--font-menu);
    color: #fff;
    max-width: 1200px;
    text-align: center;

}
.up-button{
    width: 300px;
    height: 50px;
    font-family: var(--font-menu);
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 21px;
    margin-top: 20px;
}

.up-button-amarelo{
    background-color: #ffcc33;    
    color: #000;
}

.up-button-vermelho{
    background-color: #bb001d;    
    color: #fff;
}

.up-button-azul{
    background-color: #27517f;    
    color: #fff;
}

.up-buttons-lado {
    display: flex;
}

.up-buttons-lado a {
    margin: 20px 25px;
}

.up-carrosel .up-list-horizontal {
    display: flex;
    width: 100%;
    margin-bottom: 25px;
}

.up-carrosel .up-list-horizontal li {
    margin: 0 10px;
    position: relative;
    width: 20%;
}
.up-carrosel .up-list-horizontal li:last-child, .up-carrosel .up-list-horizontal li:first-child{
    top: 270px;

}
a.up-logo-user-park {
    margin: 35px;
}
.up-carrosel .up-list-horizontal li:nth-child(2), .up-carrosel .up-list-horizontal li:nth-child(4){
    top: 133px;
}

.up-carrosel .up-list-horizontal li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    font-weight: bold;
    margin-top: 10px;
}

.up-carrosel .up-list-horizontal li a span {
   margin-top: 5px;
   font-size: 20px;
   font-family: var(--font-menu);
}

a.up-logo-user-park img {
    height: 225px;
}

.up-footer.up-align-center {
    width: 1200px;    
    flex-direction: column;
 }
.up-footer .footer-sections {
    display: flex;
    width: 100%;
    margin: 20px 0;
    padding: 20px 0;
    border-top: solid 1px #9ccbff;
    box-sizing: border-box;
    border-bottom: solid 1px #9ccbff;
}


.up-footer-sections h3 {
    font-size: 25px;
    color: #9ccbff;
    font-family: var(--font-menu);
}

.up-footer-sections .up-list-horizontal {
    flex-direction: column;
    margin-top: 10px;
}

.up-footer-sections .up-list-horizontal li a {
    font-size: 18px;
    color: #fff;
}

.up-footer-sections .up-list-horizontal li {
    margin: 5px 0px;
}

.up-footer-sections {
    width: 25%;
}

.footer-telefones h4 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 5px;    
    color: #FFf;
    font-family: var(--font-menu);
    font-weight: bold;
}

.footer-telefones p {
    font-size: 22px;  
    color: #fce317;
}
.up-carrosel.up-align-center {
    padding: 60px 0px;
}
.up-direitos p {
    font-size: 12px;
    color: #fff;

}

.up-faixa .up-align-center , .up-texto .up-align-center {
    flex-direction: column;
}

.up-texto .up-align-center {
    align-items: normal;
}


.up-texto h1{
    text-align: left;
    font-family: var(--font-menu);
}

.up-texto p{
    font-size: 16px;
    margin: 5px 0;   
}
